<div class="footer">
  <div class="footer-links">
    <%= link_to "https://github.com/yusuke0127" do %>
      <i class="fab fa-github"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/ishidayusuke_/" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/yusuke-ishida-24a4ab1aa/" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
