<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to restaurants_path, class: "navbar-brand" do %>
    <h1>Yelp MVP <i class="fab fa-yelp yelp-color"></i></h1>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Add Restaurant", new_restaurant_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
