<div class="container">
  <ul class="list-group">
    <% @restaurants.each do |restaurant|%>
      <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end  %>

  </ul>
</div>
