<div class="container">
  <div class="card-trip-container">
    <% @restaurants.each do |restaurant| %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to restaurant.name, restaurant_path(restaurant), class: "yelp-color"  %></h2>
            <p><%= restaurant.category %></p>
          </div>
          <% rating_array = restaurant.reviews.map do |review| %>
            <% review.rating %>
          <% end %>
          <h2 class="card-trip-pricing"> <%= rating_array.any? ? '⭐️' * (rating_array.inject{|sum, x| sum + x} / rating_array.size) : ""%></h2>
        </div>
      </div>
    <% end %>

  </div>
</div>
